<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Restaurantly Admin Panel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="~/Template/quixlab-master/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/Template/quixlab-master/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Template/quixlab-master/css/style.css" rel="stylesheet">

</head>