﻿@model AcunMedya.Restaurantly.Entities.Category
@{
    ViewBag.Title = "Kategori Güncelle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Category/CategoryList">Kategoriler</a></li>
            <li class="breadcrumb-item active">Kategori Güncelle</li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kategori Güncelle</h4>
                    <div class="basic-form">
                        @using (Html.BeginForm("CategoryEdit", "Category", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.CategoryId)
                            <div class="form-group">
                                <label>Kategori Adı</label>
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                            <a href="/Category/CategoryList" class="btn btn-danger">İptal</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

