@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hata - Restaurantly</title>
    <link href="~/Template/quixlab-master/css/style.css" rel="stylesheet">
</head>
<body class="h-100">
    <div class="h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="error-content">
                        <div class="card mb-0">
                            <div class="card-body text-center">
                                <h1 class="error-text text-primary">404</h1>
                                <h4 class="mt-4"><i class="fa fa-exclamation-triangle text-warning"></i> Sayfa Bulunamadı!</h4>
                                <p>Aradığınız sayfa bulunamadı veya erişim yetkiniz yok.</p>
                                <div class="text-center mb-4 mt-4">
                                    <a href="/Default/Index" class="btn btn-primary">Ana Sayfaya Dön</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Template/quixlab-master/plugins/common/common.min.js"></script>
    <script src="~/Template/quixlab-master/js/custom.min.js"></script>
    <script src="~/Template/quixlab-master/js/settings.js"></script>
    <script src="~/Template/quixlab-master/js/gleek.js"></script>
    <script src="~/Template/quixlab-master/js/styleSwitcher.js"></script>
</body>
</html> 