@model List<AcunMedya.Restaurantly.Entities.Reservation>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.ReservationDate.ToString("dd.MM.yyyy HH:mm")</td>
        <td>@item.GuestCount</td>
        <td>
            @if (item.Status == AcunMedya.Restaurantly.Entities.ReservationStatus.Confirmed)
            {
                <span class="badge badge-success">Onaylandı</span>
            }
            else if (item.Status == AcunMedya.Restaurantly.Entities.ReservationStatus.Pending)
            {
                <span class="badge badge-warning">Beklemede</span>
            }
            else
            {
                <span class="badge badge-danger">İptal Edildi</span>
            }
        </td>
    </tr>
} 